// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$base-font-size: 14px;
$backgroud-color: #2B2B2B;

html {
  font-size: 100%;
}

body {
  color: #F7F7F7;
 /* background-image: url("tasky_pattern.png"); */
  background: url("wow.jpg");
  background-size: 100%;
  /* -moz-background-size: 100%; */
  /* -webkit-background-size: 100%; */
  background-repeat: no-repeat;
  padding: 20px 0 30px 0;
 /* background-repeat: repeat; */
  font-family: "Microsoft YaHei", Helvetica, Tahoma, StSun, SimSun, sans-serif;
}

section {
    padding-top: 20px;
}

.wrapper {
  .logo {
    margin-bottom: 20px;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    header {
      .hell {
        width: 400px;
        @include border-radius(5px);
      }
      /* background: url("orc.jpg") no-repeat; */
      /* text-indent: -9999px; */
      h1 {
        font-size: 44px;
        color: #E83015;
        display: inline-block;
      }
      h3 {
        padding-left: 310px;
        display: inline-block;
        color: #F7F7F7;
      }
    }
  }
  #new_character {
    /* float: left; */
    /* @include clearfix; */
  }
  .form {
    /* min-height: 92px; */
    margin-bottom: 20px;
    text-align: center;
    .control-group {
      display: inline-block;
      margin-right: 5px;
      #bgan_call_imsi {
        width: 500px;
      }
    }
    .box {
      min-height: 72px;
    }
    p {
      color: #C09853;
      margin: 0;
      line-height: 12px;
      font-weight: bold;
      text-align: center;
    }
    p.error {
      color: #B94A48;
    }
    section {
      padding-top: 0;
    }
    ul.chzn-results {
      text-align: left;
      color: #333;
    }
    #character_server_chzn {
      float: left;
      top: 19px;
      span {
        height: 26px;
      }
    }
    .chzn-default, .chzn-single {
      height: 26px;
    }
    #character_name {
      width: 300px;
    }
    form {
      margin-bottom: 0;
    }
  }
  img.thumb {
    margin-right: 5px;
    @include border-radius(6px);
  }
}

.box {
  background: rgba(#2B2B2B, .8);
  font-size: $base-font-size;
  @include border-radius(3px);
  padding: 10px;
  margin-bottom: 20px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    text-align: center;
    font-size: 28px;
  }
  h4.instruction {
    /* margin-bottom: 10px; */
  }
  p {
    text-align: justify;
  }
  ul {
    list-style: none;
    margin-left: 0;
  }
  ul.char-list {
    li {
      @include clearfix;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    margin-bottom: 0;
  }
  span {
    margin-right: 5px;
    &.right {
      float: right;
    }
    &.achievements {
      display: inline-block;
      padding-left: 12px;
      background: url("achievements.gif") left 5px no-repeat;
    }
  }
}

.faq {
  .box {
    padding: 20px 20px 10px;
  }
  header {
    margin-top: 10px;
    h1 {
      font-size: 56px;
    }
  }
  dl {
    font-size: 13px;
    line-height: 20px;
    dt {
      margin-bottom: 2px;
    }
    dd {
      margin-left: 0px;
      margin-bottom: 16px;
    }
  }
  footer {
    p {
      margin-bottom: 0;
    }
    @include clearfix;
  }
}

.guestbook {
  margin-bottom: 20px;
  img {
    @include border-radius(5px);
  }
}

footer {
  ul {
    li {
      float: left;
      line-height: 14px;
      border-left: 2px solid lighten(#2B2B2B, 30%);
      padding: 0 10px;
      &.count {
        font-weight: bold;
        color: #338554;
      }
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-left: none;
      }
      &.last-child {
        border-left: none;
      }
    }
    margin-bottom: 0;
    @include clearfix;
  }
}

.clearfix {
  @include clearfix;
}
/* class */
.color-c1,  .color-c1 a { color: #c69b6d !important; } /* warrior */
.color-c2,  .color-c2 a { color: #f48cba !important; } /* paladin */
.color-c3,  .color-c3 a, .color-g2 { color: #aad372 !important; } /* hunter */
.color-c4,  .color-c4 a, .color-g1 { color: #fff468 !important; } /* rogue */
.color-c5,  .color-c5 a { color: #f0ebe0 !important; } /* priest */
.color-c6,  .color-c6 a { color: #c41e3b !important; } /* death knight */
.color-c7,  .color-c7 a { color: #2359ff !important; } /* shaman */
.color-c8,  .color-c8 a, .color-g3 { color: #68ccef !important; } /* mage */
.color-c9,  .color-c9 a { color: #9382c9 !important; } /* warlock */
.color-c11, .color-c11 a, .color-g4 { color: #ff7c0a !important; } /* druid */
